html
{
  background-image: url(hatter.png);
}
body{
  padding: 5px 25px;
}
.fk{
  font-weight: bold;
}
p{
  text-align: justify;
  text-indent: 25px;
}
h1, h2{
  border-bottom: 2.5px solid #7F7F7F;
  border-left: 2.5px solid #7F7F7F;
  border-radius: 0px 30px;
  padding: 15px;
  width:500px;
}
a{
  text-decoration: none;
  color:#7F7F7F;
}
#teljes{
  float:right;
  padding: 15px;
  width: 280px;
}
.hasab{
  column-count: 3;
  line-height: 200%;
}
#vonalkazas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
img{
  border: 1px solid #000000;
  padding:15px;
  margin: 15px;
}


